/* @override 
  http://planetoftheweb.com/_/css/styles.css */

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
channel, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

channels, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
	background-color: #023E54 !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#023E54), to(#10AAC0))!important;
	background-image: -webkit-linear-gradient(270deg,rgba(185,179,228,1.00) 0%,rgba(88,76,175,1.00) 100%)!important;
	background-image: -moz-linear-gradient(270deg,rgba(185,179,228,1.00) 0%,rgba(88,76,175,1.00) 100%)!important;
	background-image: -o-linear-gradient(270deg,rgba(185,179,228,1.00) 0%,rgba(88,76,175,1.00) 100%)!important;
	min-height: 100%!important;
	height: auto!important;
	background-image: linear-gradient(180deg,rgba(185,179,228,1.00) 0%,rgba(88,76,175,1.00) 100%)!important;
}

body  {
  font-family: Merriweather, serif;
  font-size: 1rem;
  line-height: 160%;
  *zoom: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: #475b62;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}

a {
  color: #145266;
  font-family: Bree Serif, serif;
}

h1{
  color: #145266;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 10px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  color: #c61c6f;
}

h3{ 
  margin-top: 0;
  color: #bd3613;
  line-height: 110%;
  margin-bottom: 5px;
}

p {
  line-height: 1.3rem;
  color: #475B62;
  margin-bottom: 10px;
  font-family: 'Merriweather';
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}


/* Search Styles */

.search {
	background: rgba(88,76,175,1.00);
	color: #EEE8D5;
	width: 90%;
	min-width: 320px;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 20px;
	padding: 20px 30px;
	z-index: 20;
}

.search h1 {
  color: #EEE8D5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn .btn-left {
  float: left;
}

.btn .btn-right {
  float: right;
}

.btn:hover {
    background: #09576D;
}

.search label {
  display: none;
}

.search input {
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  outline: 0;
}

.search .formgroup input {
  border: 1px solid rgba(0,0,0,0.3);
  display: inline;
  width: auto;
}

.search label.formgroup {
	display: inline;
}

.search select {
  display: inline;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #475B62;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  outline: 0;
}

/* channels List Styles */

.channelslist {
	background: #EEE8D5;
	width: 50%;
	min-width: 290px;
	max-width: 510px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	border-radius: 0 0 40px 40px;
	opacity: 0.75;
	z-index: 10;
}

.channelslist ul {
  margin: 0;
  padding: 0;
  background: #FDF6E3;
}

.channelslist li {
  margin: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 1px dotted black;
  opacity: .9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.channelslist a {
  display: block;
  text-decoration: none;
}

.channelslist li:hover {
  background: #FDF6E3;
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#random_page {
	margin-top: 10px;
	margin-bottom: 10px;
}
#random_page a {
	color: rgba(238,232,213,1.00);
	text-align: center;
	display: block;
}
.search h1 {
	text-align: center;
}
.search h1 #wikiLogo {
	height: 40px;
}
#img_Logo {
	max-width: 120px;
	max-height: 120px;
	border-radius: 30px;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#header_channels {
	text-align: center;
	padding-bottom: 6%;
	font-size: 320%;
	border-bottom-width: medium;
	border-bottom-style: solid;
}
#details_channel {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#item_status {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 70%;
	text-align: justify;
}
